    body {
		    font-family: arial;
		    margin:0px;
            background-color:#36454d;
            font-family: Arial, Helvetica, sans-serif;
    }
    html {
        height: 100%
    }
    p {
        margin:0px;
    }
    .parent-div {
	    width:100%;
	    height:620px;	
    }

    .login-main {
		    width:100%;
		    height:50%;
		    position: relative;
		    top:15%;
		    margin:0 auto;
		    color:#fff;
    }
    .info {
        text-align:center;
        height: 50px;
        width: 100%;
        margin-bottom: 40px;
    }
    .info p:first-child {
        margin-bottom:0px;
        font-size: 18px;
        font-weight: 600;
    }
    .info p:last-child {
        margin-top:5px;
        font-size:20px;
    }
    #signin-google {
        cursor:pointer;
	    width: 20%;
        background: white;
        margin: auto;
        height: 40px;
   
    }
    #signin-google img {
       display: block;
        width: 25px;
        height: 25px;
        line-height: 25px;
        float: left;
        margin:8px;
	
    }
    #signin-google p {
        color:#000;
        width: 70%;
        height: 40px;
        float: left;
        margin: 0px 0px 0px 10px;
        line-height:40px;
    }
    #logo {
        width:150px;
        height:150px;
        margin:auto;
        display:block;
        text-align:center;
        border-radius:100%;
    }
    .errorMsg {
        width:100%;
        height:40px;
        line-height:40px;
        color:white;
        background:#cc1a26;
        text-align:center;
        font-size:16px;
        display:none;

    }

     @media only screen and (min-width: 800px) and (max-width: 1000px)  {

       #signin-google {
           width:26%;
       }
     }
     @media only screen and (min-width: 600px) and (max-width: 799px)  {

       #signin-google {
           width:35%;
       }
     }
      @media only screen and (max-width: 599px)   {

       #signin-google {
           width:60%;
       }
     }


      /* Profile Page css */

     .profile {
          color:#fff;
     
      }
     .profile p {
         margin:0px;
     }
     .profile input {
         margin:5px 5px 5px 0px;
     }
     .profile .basic-info {
         width:20%;
         float:left;
         padding:20px;
     }
    .profile .basic-info p {
        margin-bottom:15px;
        }
     .profile #profile_picture {
         width:150px;
         height:150px;
         border:1px solid #fff;
         background:#808080;
         border: none;
     
     }
     .profile .profile-info {
         width:75%;
         float:left;
         padding:20px 20px 20px 0px;
     }
     .profile .success-msg {
         line-height:40px;
         width:100%;
         height:40px;
         font-size:16px;
         color:white;
         background-color:green;
         text-align:center;
         margin-bottom:20px;
         display:none;
     }
     #profile_picture {
         clear:both;
     }
     #update_pic {
        display: none;
     }
     .user-interested-category  label{
    
         height:40px;
         display:inline-block;
     }
     .user-interested-category  input{
         margin-right:25px;
         margin-left: 10px;
        position: relative;
        top: 2px;
     }
     .basic-info label.update_pic {
        display: block;
        position: relative;
        top: -44px;
        width: 150px;
        text-align: center;
        background: black;
        opacity: 0.5;
        font-size: 13px;
        padding: 5px 0px 5px 0px;
        display:none;
    

     }
     .basic-info label.update_pic:hover {
         display:block;
     }
    .basic-info #profile_picture:hover + label {
        display:block;
    }