<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <title>Profile Info</title>
	
	<link rel="stylesheet" href="../static/content/style.css" />
    
    
    
    
	
	
<!-- Script Files-->


 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
 <script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
 <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>
 
    
 <script type="text/javascript" src="../static/scripts/project/activity.js"></script>
 

<!-- End of Script-->


</head>
<body class="activity">
</body>
</html>